@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&display=swap');

:root {
  --bg-color: #323437;
  --main-color: #e2b714;
  --caret-color: #e2b714;
  --sub-color: #646669;
  --sub-alt-color: #2c2e31;
  --text-color: #d1d0c5;
  --error-color: #ca4754;
  --error-extra-color: #7e2a33;
  --colorful-error-color: #ca4754;
  --colorful-error-extra-color: #7e2a33;
}

body {
  margin: auto;
  max-width: 1000px;
  font-size: 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 2rem;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-family: 'Poppins';
}

.test {
  user-select: none;

  span {
    font-size: 24px;
    color: #81827F;
  }

  .active {
    margin-left: -3px;
    border-left: 3px solid #E2B712;
  }

  .correct {
    color: #FFF;
  }

  .incorrect {
    color: red;
    text-decoration: underline;
  }
}

#caret {
  position: absolute;
  left: 5px;
  transition: left 5s linear;
  height: 40px;
  width: 2px;
  background: #0a0a0a;
}
#caret.endOfLine {
  left: 95%;
}